$blue: #0000ff;

$nav-background: #2e3336;
$nav-text-color: #CCC;
$nav-text-color-active: #FFF;

$company-color: #c6def3;
$company-color-hover: d5e9f7;

$background-color: #FCFCFC;

$text-color: #111;

$link-color: $blue;

$table-odd-color: #f9f9f9;

$title-color: #303030;
$date-color: #9a9a9a;

$related-color: #999;
$related-hover-color: #268bd2;

$header-color: #313131;
$abbr-color: #555;
$nice-bottom-color: #e5e5e5;
$quote-color: #7a7a7a;
$break-color: #eee;

$code-color: #bf616a;
$line-number-color: #999;

$normal-font-size: 16px;
$normal-line-height: 1.5;
$large-breakpoint: 38em;
$large-font-size: 18px;